<tw-storydata name="TwineTravel" startnode="90" creator="Twine" creator-version="2.0.10" ifid="D6518F4B-4E6C-42DA-A89A-CC0A3AD064E1" format="Harlowe" options="" hidden><style role="stylesheet" id="twine-user-stylesheet" type="text/twine-css"></style><script role="script" id="twine-user-script" type="text/twine-javascript">










</script><tw-passagedata pid="1" name="Start" tags="" position="0,150">You were hit on the head. You are now unconscious...

[[...|CIA]]</tw-passagedata>
<tw-passagedata pid="2" name="CIA" tags="" position="150,0">//You wake up in a chair with two people in suits staring at you.//

**You**
[[Where am I?|Explain1]]
[[//Say nothing//|Silence]]</tw-passagedata>
<tw-passagedata pid="3" name="Explain1" tags="" position="300,0">**Them**
You&#39;re in the basement of a government building. We are a top secret organization in the government conducting research. Everything we&#39;re about to say is top secret. If you share it with others, we&#39;ll have to kill you.

**You**
[[OK.|Explain2]]</tw-passagedata>
<tw-passagedata pid="4" name="Explain2" tags="" position="450,0">**Them**
We&#39;ve discovered the secret to time travel. Since you&#39;re familiar with areas of Italy, we selected you to find an important figure during the time of 1858 who goes by the name of Francesco Domenico.

**You**
[[Uh, this is crazy. Can I go home now?|AskHome]]
[[Alright. How do I do that?|DoorExplain]]</tw-passagedata>
<tw-passagedata pid="5" name="Silence" tags="" position="150,150">No one speaks, and they stare at you...


**You**
[[Where am I?|Explain1]]
[[//Say nothing//|Silence2]]</tw-passagedata>
<tw-passagedata pid="6" name="AskHome" tags="" position="600,300">**Them**
Too late. If you do, we&#39;ll have to kill you.

**You**
[[OK...|DoorExplain]]</tw-passagedata>
<tw-passagedata pid="7" name="DoorExplain" tags="" position="450,300">**Them**
We created a way to facilitate time travel with pairs of doors. Step through one, and you&#39;ll be transported to another point in time. You should eventually reach 1858 after meandering through enough doors. The first set will take you to Italy, although we don&#39;t know what time. You&#39;ll have to determine that once you get there.

**You**
[[That seems awkward.|Awkward]]
[[OK. Where are the doors?|WhereDoors]]</tw-passagedata>
<tw-passagedata pid="8" name="Awkward" tags="" position="600,450">**Them**
You&#39;ll have to deal with that. We won&#39;t tolerate failure.

**You**
Fine. [[Where are the doors?|WhereDoors]]</tw-passagedata>
<tw-passagedata pid="9" name="WhereDoors" tags="" position="450,450">**Them**
They are in the room over there.

//One of the people gestures to the door to your left.//

Call us with this quantum cell phone if you need help.

[[Take cell phone and walk into the room|Start1715]]</tw-passagedata>
<tw-passagedata pid="10" name="SpaghettiWaiter" tags="" position="150,2450">//You enter the restaurant and sit down at a table. A waiter walks over to you.//

**Waiter**
What kind of pasta would you like?

**You**
[[Spaghetti|SpaghettiWaiterReply]]</tw-passagedata>
<tw-passagedata pid="11" name="SpaghettiWaiterReply" tags="" position="0,2600">**Waiter**
OK. I&#39;ll be right back with your order.

**You**
Thanks.

//[[Wait...|Waiting1]]//</tw-passagedata>
<tw-passagedata pid="12" name="Waiting1" tags="" position="150,2600">[[Wait longer...|Waiting2]]</tw-passagedata>
<tw-passagedata pid="13" name="ViewFood" tags="" position="150,2750">//He places the plate of spaghetti in front of you.//

**Francesco**
You seem like an important guy. I thought I&#39;d deliver your meal to you personally. Here you go! Enjoy!

//You look down at your plate. You ate earlier, but try some?//
//[[Absolutely.|Eat]]//
//[[Maybe.|EatMaybe]]//
//[[No.|EatAnyway]]//</tw-passagedata>
<tw-passagedata pid="14" name="Waiting2" tags="" position="300,2600">//Five minutes have passed. Right back, he says...//
//[[Wait longer...|Waiting3]]//</tw-passagedata>
<tw-passagedata pid="15" name="Waiting3" tags="" position="450,2600">//You are now bored.//
//[[Wait longer...|Waiting4]]//</tw-passagedata>
<tw-passagedata pid="16" name="Waiting4" tags="" position="600,2600">//Fifteen minutes have passed. You begin twiddling your thumbs.//
//[[Wait longer...|Waiting5]]//</tw-passagedata>
<tw-passagedata pid="17" name="Waiting7" tags="" position="300,2750">//A waiter is walking over with your [[spaghetti!|ViewFood]]//</tw-passagedata>
<tw-passagedata pid="18" name="Waiting5" tags="" position="600,2750">//Twenty minutes have passed. The service here isn&#39;t too great.//
//[[Wait longer...|Waiting6]]//</tw-passagedata>
<tw-passagedata pid="19" name="Waiting6" tags="" position="450,2750">//[[...|Waiting7]]//</tw-passagedata>
<tw-passagedata pid="20" name="Eat" tags="" position="150,2900">//You ate some spaghetti. The spaghetti is good. Eat [[more?|Eat2]]
//[[Finished.|DoneEating]]</tw-passagedata>
<tw-passagedata pid="21" name="DoneEating" tags="" position="300,3050">//You have leftover spaghetti on your plate that you need to take to the CIA.

You don&#39;t have any money from the time period so you can&#39;t pay for your meal.

You decide to exit with your leftover spaghetti://
//[[quietly.|QuietExit]]//
//[[carefully.|CarefulExit]]//
//[[quickly.|QuickExit]]//</tw-passagedata>
<tw-passagedata pid="22" name="EatMaybe" tags="" position="300,2900">//After mulling over the unique opportunity of eating 17th century cuisine, you decide to eat some [[spaghetti|Eat]].//</tw-passagedata>
<tw-passagedata pid="23" name="EatAnyway" tags="" position="0,2900">//After mulling over the unique opportunity of eating 17th century cuisine, you decide to eat some [[spaghetti|Eat]] anyway.//</tw-passagedata>
<tw-passagedata pid="24" name="BackFromTheFuture" tags="" position="600,3050">//You emerge from one of the doors in the basement of the government building.//

**You**
Here&#39;s your spaghetti...

//[[Give the agents from earlier the plate of spaghetti.|ExitConvo]]//</tw-passagedata>
<tw-passagedata pid="25" name="QuietExit" tags="" position="450,2900">//After you stand up and pick up your plate of spaghetti, you leisurely make your way out the door. The waiter was probably too busy to notice you.//

// You carefully make your way through the series of doors you took to get here to return to [[your own time|BackFromTheFuture]].//</tw-passagedata>
<tw-passagedata pid="26" name="CarefulExit" tags="" position="450,3050">//After you stand up and pick up your plate of spaghetti, you slowly walk toward the door, looking around as you do so. Other people seated in the restaurant look at you strangely.//

//You eventually make your way out the front door. The waiter was probably too busy to notice you.//

// You carefully make your way through the series of doors you took to get here to return to [[your own time|BackFromTheFuture]].//</tw-passagedata>
<tw-passagedata pid="27" name="QuickExit" tags="" position="450,3200">//After you stand up and pick up your plate of spaghetti, you run out the front door as fast as possible. The waiter notices this and chases you a block down the street past the restaurant, shouting in Italian. He gives up after that.//

// You carefully make your way through the series of doors you took to get here to return to [[your own time|BackFromTheFuture]].//</tw-passagedata>
<tw-passagedata pid="28" name="ExitConvo" tags="" position="600,3200">**The Agents from Earlier**
Fantastic! You may go now.

**You**
[[That&#39;s it?|ConfusedConvo]]
[[You aren&#39;t going to pay me or anything?! I put in a lot of work to get that spaghetti!|AngryConvo]]</tw-passagedata>
<tw-passagedata pid="29" name="ConfusedConvo" tags="" position="600,3350">**The Agents from Earlier**
Yeah. We&#39;ll test the spaghetti ourselves. Remember, don&#39;t tell anyone about this.

**You**
[[Like I would want to.|ExitBuilding]]</tw-passagedata>
<tw-passagedata pid="30" name="AngryConvo" tags="" position="450,3350">**The Agents From Earlier**
You got to travel through time, and you probably ate some of this spaghetti already! Consider that payment enough. If you don&#39;t leave, we&#39;ll be forced to escort you from the premises.

//[[Leave quietly.|ExitBuildingQuiet]]//
//[[Don&#39;t move.|ExitBuildingCarry]]//</tw-passagedata>
<tw-passagedata pid="31" name="ExitBuilding" tags="" position="600,3650">//You leave the building feeling content and start travelling [[home|Home]].//</tw-passagedata>
<tw-passagedata pid="32" name="ExitBuildingQuiet" tags="" position="450,3500">//While annoyed and indignant, you leave the building and start travelling [[home|Home]].//</tw-passagedata>
<tw-passagedata pid="33" name="ExitBuildingCarry" tags="" position="300,3350">//They summon more agents and carry you out of the building, despite your struggling, and throw you onto the pavement.//

**Agents**
If you speak about what you saw today, you&#39;ll wish you didn&#39;t!

//After they go back inside, you slowly get up, and start travelling [[home|Home]].//</tw-passagedata>
<tw-passagedata pid="34" name="Home" tags="" position="300,3650">//You don&#39;t know where you are since you were taken here against your will. This is going to take a while...//

//[[Start walking|TheEnd]].//</tw-passagedata>
<tw-passagedata pid="35" name="TheEnd" tags="" position="150,3650">**THE END**</tw-passagedata>
<tw-passagedata pid="36" name="Start1715" tags="" position="300,450">//You enter a dark, empty room with one lit lamp. You see two wooden closed doors in front of you that apparently lead to two different rooms.

You feel like you must choose wisely because you feel as if you can&#39;t return to this room. After you enter the door, you must remember your mission. Your first objective is to make it to the target year, 1858.

So now, Choose a door.//
[[Left|Left1715]]
[[Right|Right1715]]</tw-passagedata>
<tw-passagedata pid="37" name="Left1715" tags="" position="150,600">//You find yourself seated in the center of a crowded theater. Looking around, you see an overwhelming amount of decor and craft of the building and elegant attire for this event. The ongoing performace is a apparently an opera performed by a very fat lady with a sublime voice. You look to the people near you and realize that they never noticed you suddenly appearing in your seat. You remember why you are here, and the importance of your mission, so you look to the man next to you and begin to question him.//

**You**
[[What day is it today?|Date]]
[[What is today&#39;s date?|Date]]
[[That was such a beautiful song. What&#39;s it called? I&#39;m putting this in my Spotify|Spotify]]
</tw-passagedata>
<tw-passagedata pid="38" name="Date" tags="" position="150,900">**Stranger**
It&#39;s the fifth of May.

**You**
[[I mean the year.|DateAnswer]]
[[Oh, happy Cinco de Mayo. But I need the year too.|DateAnswer]]</tw-passagedata>
<tw-passagedata pid="39" name="Spotify" tags="" position="300,600">**Stranger**
It&#39;s an opera by Vivaldi called //Nerone fatto Cesare//, you idiot. Did you even pay for that seat?

**You**
Calm down. Yes, I did. And, can you tell me what year it is?

**Stranger**
You&#39;re either a complete idiot, or you live inside a cave. It&#39;s the year 1715. Go back to your cave, idiot.

**You**
[[Ok. That&#39;s all I had to ask, jerk.|Jerk]]

</tw-passagedata>
<tw-passagedata pid="40" name="Fight" tags="" position="300,900">**Stranger**
Who do you think you&#39;re talking to, pal?
Looks like you want to fight.

**You**
Bring it on, tough guy!

You get into a fight with the stranger, and he beats you up.
[[Go to the bathroom to clean yourself up|Bathroom]]</tw-passagedata>
<tw-passagedata pid="41" name="DateAnswer" tags="" position="150,1050">**Stranger**
It&#39;s the year 1715. You stupid idiot.

**You**
[[Hey, don&#39;t call me a stupid idiot. You&#39;re a stupid idiot.|Fight]]
[[Thank you for your time you respectful kind gentleman.|Bathroom]]</tw-passagedata>
<tw-passagedata pid="42" name="Bathroom" tags="" position="450,1050">//You enter the door, but unexpectedly, you enter another empty room with two doors as before. You must choose a door. Hopefully, you will enter the correct time period.//

[[Left|Left1858]]
[[Right|Right1858]]</tw-passagedata>
<tw-passagedata pid="43" name="Right1715" tags="" position="450,600">//You suddenly appear in the middle of a meadow. You look around and see a cow and some trees farther ahead. In the opposite direction, there is a house up a small hill.//

[[Go to the cow|Cow]]
[[Go to the house|House]]</tw-passagedata>
<tw-passagedata pid="44" name="Cow" tags="" position="600,600">//As you come closer to the cow, the cow glares at you. Further moving forward, the cow makes a sudden jerk backwards one meter as if he was scared and moos very loudly. As soon as he moos, you see a herd of cows rushing from the trees in the distance and towards you.//
[[Run away|Run to House]]
[[Stay, maybe they are rushing to make friends with you|KnockedOut]]</tw-passagedata>
<tw-passagedata pid="45" name="House" tags="" position="450,750">//After making it up the hill, you come to the front door of a small house. You knock on the door, but you get no response. You knock on it again, but nobody seems to be home.//

[[Knock again|Knock]]
[[Enter the door anyways|Intrude]]</tw-passagedata>
<tw-passagedata pid="46" name="Run to House" tags="" position="600,750">//You quickly begin running away and decide to run towards the house. As you come closer to the hill, you see the the cows give up the chase and start walking away.//
[[Go to the house|House]]</tw-passagedata>
<tw-passagedata pid="47" name="KnockedOut" tags="" position="750,750">//You realize your poor decision, try to run away, but can&#39;t get out of there in time. The cows trampede over you, and you must have been hit in the head because you become unconcious.//

//You start dreaming of grapes.//

[[...|Stranger&#39;s House]]


</tw-passagedata>
<tw-passagedata pid="48" name="Knock" tags="" position="600,900">//You knock again, wait a little more, and you see that someone opens the door.//

**Stranger**
Who are you? Where you from?

//You quickly make up a story in your head, and you thought of grapes.//

**You**
Hi sir, I come from a family of grape farmers, and I&#39;m here to sell you our finest grapes from our vineyard.

[[Continue with your grape farming background|Grape Dialogue]]</tw-passagedata>
<tw-passagedata pid="49" name="Intrude" tags="" position="450,900">//You see that the door is unlocked, so you open the door. Entering the door, you look around and instantly notice an old man sleeping in a chair. You quietly close the door behind you and sneakily begin search the house.

You look for any clues that can hint what year it is. You think that the year could be printed on the currency that they use, so you look for money.

Instead of finding money, you find a calendar on the kitchen counter. You look for the year, and it is apparent that it is they year 1715.

Satisfied, you look to leave, but you make a disturbing sound waking up the sleeping old man.//

**Stranger**
Hey! Who&#39;s there?

//You run out the back door, and you go to hide in the outhouse straight ahead.//

[[Enter the outhouse|Bathroom]]</tw-passagedata>
<tw-passagedata pid="50" name="Grape Dialogue" tags="" position="750,900">**Stranger**
Grapes? I love grapes! Please, come in. Where are the grapes now?

**You**
Oh, they&#39;ll be here in a minute. My partner who&#39;s carrying the goods is lagging behind.

**Stranger**
Good. Make yourself at home here. I don&#39;t get too many grape farmers coming to my door. Let me get you a glass of water. It&#39;s hot out there. Unbelievable temperature for the season. Hey, by the way, this isn&#39;t exactly wine country, so what brings you here?

**You**
Uh, exploring. Hey do you by chance know the date?

**Stranger**
Yeah, it&#39;s January 23rd.

**You**
[[And the year too?]]
</tw-passagedata>
<tw-passagedata pid="51" name="Left1858" tags="" position="450,1250">//You suddenly appear in a busy open street market crowded with people at night. It appears to be a festival in celebration of a recent event. You see this as a good chance to ask somebody what year it is. You also notice an ongoing street performance, people doing acrobatic stunts on a stage. You feel tempted to watch.//

[[Ask somebody what year it is.|Year]]
[[Watch street performance.|Perf]]</tw-passagedata>
<tw-passagedata pid="52" name="Right1858" tags="" position="600,1250">//You suddenly appear in a busy open street market crowded with people at night. It appears to be a festival in celebration of a recent event. You see this as a good chance to ask somebody what year it is. You also notice an ongoing street performace to your left and a restaurant behind you.//

[[Ask somebody what year it is|Year]]
[[Go to the restaurant|Restaurant]]</tw-passagedata>
<tw-passagedata pid="53" name="Year" tags="" position="150,1400">//You look to a friendly looking person next to you and you begin to question him.//

**You**
Hey do you know what year it is?

**Stranger**
Uh, yes.

**You**
What is it?

**Stranger**
What is what?

**You**
The year.

**Stranger**
Who?

//You take your left palm and place it on your forehead. You become a bit frustrated as you can&#39;t grab an answer to such an easy question, but you [[persist...]]//



</tw-passagedata>
<tw-passagedata pid="54" name="Perf" tags="" position="300,1250">//As you walk closer to the stage, the three performers seemed to be finishing up with an act.//

**Performer 1**
We need a volunteer now! Anyone! Raise your hand, c&#39;mon now!

//A fly comes to bug you and you jerk your hand to swat it away, but it relentlessly keeps trying to rest on your face. Trying to swat the fly away, it seems you have attracted the attention of the performer, and you become the volunteer.//

**Performer 1**
You there! Please, come on up. Thank you for volunteering. You feel like spitting fire today?

//Before you realized you were chosen by the performer, people started shoving you towards the stage, and you thought maybe this is a good idea to become informed of the year.//

[[Volunteer|Volunteer]]
[[Leave|Leave]]

</tw-passagedata>
<tw-passagedata pid="55" name="Volunteer" tags="" position="0,1400">**Performer 3**
Ok, this may be very dangerous. We&#39;ve had a few mishaps over the past years, but I promise, no more mistakes will be made.

**You**
Ok.

**Performer 2**
That&#39;s right. Fire breathing aint easy.

**Performer 3**
Alright, for a first-timer, use a straw. My partner here will raise his torch, and you&#39;re going to blow the kerosene on the direction of the torch.

**Performer 1**
You ready?

[[Ready|Torch]]
[[Leave|Leave]]</tw-passagedata>
<tw-passagedata pid="56" name="Leave" tags="" position="150,1550">//You sprint out of there.//

**Performer 2**
Looks like someone&#39;s changed his mind!

//After a fair distance, you stick around. You begin searching for the answer to what year it is. As soon as you start to ask someone, a loud screech comes from behind you, and people start rushing towards that direction. Apparently, a man who took the volunteering job caught fire near the stage of the street performance.//

[[Help the man|Help]]</tw-passagedata>
<tw-passagedata pid="57" name="Help" tags="" position="300,1700">//As you come over to help, a conversation between two people catches your attention.//

**Person 1**
Every year this happens.

**Person 2**
I know right. These lunatics are so reckless and cause nothing but trouble.

**Person 1**
I&#39;ve been coming here for five years, and every year, a man burns.

**You**
Excuse me sir, but what year did you start coming?

**Person 1**
Uh, five years ago, so that was 1853.

//With joy, you realize then that makes it 1858, the target year. Now you just need to contact the CIA to tell them that you&#39;re on to your next objective.//

[[Contact CIA|CallCIA]]
</tw-passagedata>
<tw-passagedata pid="58" name="Torch" tags="" position="0,1550">**You**
I&#39;m ready! Let&#39;s do this!

**Performer 1**
Woah! He&#39;s definitely ready. Suck in the kerosene and use the straw to blow on the torch.

//You take a big mouthful of kerosene not expecting it to taste so bad, and quickly turn to blow on the torch. Blowing through the straw flames begin spewing out towards the crowd. You make a beautiful performance and the crowd cheers.//

**Performer 3**
Amazing! What&#39;s your name?

//You give him your name, but apparently your name sounds weird to him. So, he looks strangely at you, but looks at the crowd and tells them to applaud for you. You find that this is a great time to [[ask for the year]].//

</tw-passagedata>
<tw-passagedata pid="59" name="CallCIA" tags="" position="150,1850">//You call the CIA with your quantum cell phone.//

**CIA**
Hello?

**You**
Hi, I&#39;m in 1858.

**CIA**
Oh, let me redirect you.

//After a pause, you begin hearing what sounds like a recorded message.//

[[Listen]]
</tw-passagedata>
<tw-passagedata pid="60" name="AskForChef" tags="" position="150,2150">//You go outside and walk up to the first person that you see.//

**You**
Hey, do you know who Francesco Domenico is?

**Stranger**
Of course I do! He is a famous chef renowned for his delicious spaghetti. He makes the best spaghetti. It is in it&#39;s own league above all other pastas or foods. Actually, he is cooking tonight in today&#39;s festival.

//You just got very lucky.//

**You**
Oh, do you know where I can find him?

**Stranger**
Yes, he is down south of this street.

**You**
Thank you so much.
[[Go south]]</tw-passagedata>
<tw-passagedata pid="61" name="Restaurant" tags="" position="750,1250">//You walk up to the hostess in front of the door and begin to question her.//

**You**
Do you know what year it is?

**Hostess**
Yes.

**You**
What year is it?

**Hostess**
It&#39;s the year 1420.

**You**
Uh, thanks.

[[You leave the restaurant]]</tw-passagedata>
<tw-passagedata pid="62" name="RestaurantBathroom" tags="" position="600,1400">//When you enter the bathroom, you realize you are not entering the empty room with two doors. Something must be wrong. You found out what year it is, so you have to return to the time traveling room.//

[[Look for a solution outside.|Solution]]</tw-passagedata>
<tw-passagedata pid="63" name="Explore" tags="" position="900,1400">//You see people dancing in the distance and you decide to show some of your own dance moves. It&#39;s time to represent your generation&#39;s culture and style. You approach the dance floor.//

[[Nae nae|Danced]]
[[Whip|Danced]]
[[Ballet|Danced]]


</tw-passagedata>
<tw-passagedata pid="64" name="DnD" tags="" position="750,1550">//You sit down to eat, open up the menu, and you choose to eat something.//

[[Steak|Order]]
[[Chicken|Order]]
[[Fish|Order]]
[[Salad|Order]]
[[Spaghetti|Order]]</tw-passagedata>
<tw-passagedata pid="65" name="Solution" tags="" position="600,1550">//Maybe you need to ask another person the year and then try to enter a bathroom again. You look for person to ask, but suddenly, you hear a loud scream. You see a man on fire by the performing stage.//

[[Help the poor guy|Help]]</tw-passagedata>
<tw-passagedata pid="66" name="Danced" tags="" position="900,1550">**Stranger 1**
Wow, amazing!

**Stranger 2**
Indeed, I have never seen anything like it.

**Stranger 1**
You sir are an amazing dancer.

**You**
[[There&#39;s more where that came from baby!|Dance more]]
[[Who? Me? Thanks!|Lady Dialogue]]

</tw-passagedata>
<tw-passagedata pid="67" name="Order" tags="" position="600,1700">//After eating what you ordered, you slowly make your way to the bathroom expecting to be offered the chance to time travel, but you are not transported to the certain room. Instead, you enter a regular bathroom, and you begin to panic. You realize you&#39;re going to go to 1420 Italian prison for the rest of your life because you don&#39;t have any money to pay for your meal. Suddenly, you hear a faint scream coming from outside the restaurant, and people start rushing out. You think to yourself that this is your chance to escape with all the commotion happening. You walk casually outside and you see what the commotion is about. A man is on fire. You go to help him.//
[[Help the man on fire|Help]]</tw-passagedata>
<tw-passagedata pid="68" name="Silence2" tags="" position="150,300">They continue to stare at you...

**You**
[[Where am I?|Explain1]]
[[//Say nothing//|Silence3]]</tw-passagedata>
<tw-passagedata pid="69" name="Silence3" tags="" position="300,300">Silence...

**You**
[[Where am I?|Explain1]]
[[//Say nothing//|Silence2]]</tw-passagedata>
<tw-passagedata pid="70" name="Stranger&#39;s House" tags="" position="900,900">//You wake up in a stranger&#39;s house.//

**Stranger**
You alright?

**You**
Yeah. Thanks. Who are you.

**Stranger**
Just an ole&#39; fellow. What brings you here on my property?

//You remember your past dream and quickly make up a story about being a grape farmer.//

**You**
Hi sir, I come from a family of grape farmers, and I&#39;m here to sell you our finest grapes from our vineyard.

[[Explain|Grape Dialogue]] </tw-passagedata>
<tw-passagedata pid="71" name="Jerk" tags="" position="300,750">//You think to yourself, &quot;he doesn&#39;t even know what a computer is.&quot; You mumble out loud to yourself &quot;he&#39;s the one that&#39;s an idiot,&quot; but apparently, he seems to have heard your rude remark.//

**Stranger**
Hey! What did you say?

//You try to play it tough and stand up to what you said.//

**You**
[[What-... Oh, I said you&#39;re a big, stupid idiot.|Fight]]</tw-passagedata>
<tw-passagedata pid="72" name="And the year too?" tags="" position="900,1050">
**Stranger**
The year?

**You**
I mean Happy New Year. It&#39;s crazy how far we&#39;ve come right?

**Stranger**
Excuse me?

**You**
We&#39;ve made it from year 0 to this year.

**Stranger**
Ha ha ha ha ha. You&#39;re right! Here.

//With a glass of water in his left and a glass of water in his right, he hands you one of them.//

**Stranger**
Cheers! To the new year! Year 1715!

**You**
Ha ha ha. Yes! Year 1715.

//As you clink glasses, you get water on your pants.//

[[Clean yourself up]]</tw-passagedata>
<tw-passagedata pid="73" name="Clean yourself up" tags="" position="750,1050">**You**
Oops. Mind showing me where the bathroom is?

**Stranger**
Straight ahead.

//You head straight but found yourself to be outside the house. You realize that there&#39;s no plumbing in the house, so he uses an outhouse.//

[[Go to the outhouse|Bathroom]]</tw-passagedata>
<tw-passagedata pid="74" name="You leave the restaurant" tags="" position="750,1400">//You are starting to lose hope in the time machine because you realize you&#39;re in the wrong year again.

Since last time going to a bathroom worked as a return to the time machine, going to the restaurant&#39;s bathroom is a good idea.

You realize you can also go back to the restaurant and dine and dash since you can escape through bathrooms now.//

[[Go to the bathroom|RestaurantBathroom]]
[[Continue exploring|Explore]]
[[Dine and dash|DnD]]</tw-passagedata>
<tw-passagedata pid="75" name="persist..." tags="" position="300,1400">**You**
The year! What is the year!

**Stranger**
Who is here?

**You**
Really? Are you that deaf?

**Strange**
What?

//The man seems to have very poor hearing. So you go to another person.//

**You**
Hey you! What year is it?

**Stranger 2**
I don&#39;t know. Go ask him, man.

//He points to an older man with grey hair sitting in a chair behind a wooden desk and smoking tobacco.//

[[Continue asking Stranger 2]]
[[Ask the man with the grey hair|Grey hair]]
</tw-passagedata>
<tw-passagedata pid="76" name="Continue asking Stranger 2" tags="" position="300,1550">
**You**
No, I just need the year. Tell me the year.

**Stranger 2**
Hey, look buddy. I&#39;m not in that type of business. Get out of my face before I hurt you.

//Confused and frustrated, you turn around and go to the [[grey-haired man|Grey hair]] behind the table.//

</tw-passagedata>
<tw-passagedata pid="77" name="Grey hair" tags="" position="450,1400">**You**
Excuse me, please can you-...

**Stranger 3**
So, you want to work for me, I see.

**You**
Please, just tell me the year.

**Stranger 3**
I understand how you&#39;re feeling. You&#39;re ready to change your life. Come with me.

**You**
No man! I just need the date. Give me the date.

**Stranger 3**
Oh, its Tuesday.

**You**
And the year?

**Stranger 3**
It&#39;s the year-...

//Before the old man could finish his words, a [[loud screech]] comes from behind you.//</tw-passagedata>
<tw-passagedata pid="78" name="loud screech" tags="" position="450,1550">//You notice people begin rushing towards the direction of the scream. Apparently, a man is caught on fire near the stage of the street performance.

You glare at what is happening, but remember what is most important: find out the year. So, you look back behind you, but the old man is gone.

Instead, you decide to go and [[help the man|Help]].//</tw-passagedata>
<tw-passagedata pid="79" name="ask for the year" tags="" position="0,1700">**You**
By the way, what year is it?

//Again with the weird, look he pauses for a second but responds willfully.//

**Performer 3**
It&#39;s 1858 crazy dude.

//You immediately leave the stage because you just realized you&#39;re in the target year. You need to call the CIA to move on to your next objective.//

[[Call the CIA|CallCIA]]</tw-passagedata>
<tw-passagedata pid="80" name="Dance more" tags="" position="1050,1550">[[Do the Nae Nae|So hip!]]
[[Do the Whip|Such style!]]
[[Ballet|How elegant!]]
[[Stop Dancing|Lady Dialogue]]</tw-passagedata>
<tw-passagedata pid="81" name="Lady Dialogue" tags="" position="1050,1850">
**Stranger 1**
What do you call that style of dance?

**You**
Oh, it&#39;s just my secret moves. I can&#39;t reveal them to anyone.

**Stranger 2**
He could enter a competition for Italy&#39;s greatest dancer of 1858.

**Your**
Wait, what year is it?

**Stranger 2**
Uh... 1858.

//You realize that the hostess that you met was wrong. 1420 wasn&#39;t a real answer, but it was a humorous remark. She just played a joke on you. You feel the need to call the CIA to move on to your next mission//

[[Call the CIA|CallCIA]]</tw-passagedata>
<tw-passagedata pid="82" name="Ladies impressed" tags="" position="900,1700">**Ladies**
Oh, wow!

**You**
[[I&#39;m the dance king!|Lady Dialogue]]

[[Do the Nae Nae|So hip!]]
[[Do the Whip|Such style!]]
[[Ballet|How elegant!]]</tw-passagedata>
<tw-passagedata pid="83" name="So hip!" tags="" position="1200,1700">**Ladies**
So hip!

[[Dance more]]
[[Stop Dancing|Lady Dialogue]]</tw-passagedata>
<tw-passagedata pid="84" name="Such style!" tags="" position="1200,1550">**Ladies**
Such style!

[[Dance more]]
[[Stop Dancing|Lady Dialogue]]</tw-passagedata>
<tw-passagedata pid="85" name="How elegant!" tags="" position="1200,1400">**Ladies**
How elegant!

[[Dance more]]
[[Stop Dancing|Lady Dialogue]]
</tw-passagedata>
<tw-passagedata pid="86" name="Listen" tags="" position="150,2000">**Recorded Message**
Looks like you have finished your first objective. Great job! You are one step closer to solving a major issue that exists today.

For your next mission, I want you to find a man named Francesco Domenico. He is a famous chef in Italy known for his amazingly tasty spaghetti. You must bring a plate of his spaghetti back to us.

This success of this mission is in your hands. Good luck. //Beep!//

//You realize your only mission was to fetch some 17th century Italian spaghetti. You feel annoyed, but you continue with the mission anyway.//

[[Ask people where Chef Francesco Domenico is.|AskForChef]]</tw-passagedata>
<tw-passagedata pid="87" name="Go south" tags="" position="150,2300">//You begin walking south, and you see a large, crowded restaurant that serves spaghetti. You ask a customer if Chef Domenico is here, but before you can ask your question a man outside begins yelling.//

**Outdoor Chef**
Come and dine. Eat the world&#39;s renowned pasta from the world&#39;s renowned chef Francesco Domenico!

//[[Enter the restaurant.|SpaghettiWaiter]]//</tw-passagedata>
<tw-passagedata pid="88" name="Eat2" tags="" position="150,3050">The spaghetti is good. Eat [[more?|Eat3]]
//[[Finished.|DoneEating]]//</tw-passagedata>
<tw-passagedata pid="89" name="Eat3" tags="" position="150,3200">Eat [[more?|Eat2]]
//[[Finished.|DoneEating]]//</tw-passagedata>
<tw-passagedata pid="90" name="Title" tags="" position="0,0">[[**Twine Travel**|Start]]
By Richard Franklin and Tyler Veness</tw-passagedata>
</tw-storydata>
